p{
    color: aqua;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
}

body{
    background-color: bisque;
    background-image: url('../img/foto1.jpeg');
    background-repeat: no-repeat;
    
}

/* grouping css */

fieldset, legend{
    border: yellow groove 3px;
    border-radius: 30px;
}

legend{
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    color: aqua;
}

 table{
    border: 10p;
    margin: auto;
 }

 /*psudo element id */
 div#menu{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
 }

 a.item:link, a.item:visited, a.item:active{
    text-decoration: none;
    font-size: 16pt;
    color: white;
    border: 2px solid red;
    padding: 5px;
    background-color: black;
    /*position: relative;
    top: -6px;
    display: block ;
    width: auto;*/
 }

 a.item:hover {
    text-decoration: none;
    font-size: 50pt;
    color: purple;
    border: 2px solid goldenrod;
    padding: 15px;
    background-color: rgb(255, 232, 205);

 }

 li.menu{
    color: aquamarine;
 }

 ol, li{
    color: bisque;
    
 }